/*Name this external file gallery.css*/
body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{
    line-height:650px;
		width: 575px;
    height: 500px;
		border:5px solid rgb(255, 255, 255);
		margin:0 auto;
    background-color: #48464b;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}
.preview{
		width:50%;
		margin-left:17%;
    border: 5px solid rgb(255, 255, 255);
}
img{
		width:95%;
}